@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $background: map.get($color-config, background);
  $is-dark: map.get($color-config, 'is-dark');

  ngs-routed-tabs > mat-tab-group.sections > mat-tab-header {
    background: mat.m2-get-color-from-palette($background, app-bar);
    @include mat.elevation(4);
  }
}

@mixin typography($theme) {
  // TODO?
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.m2-get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
