<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="accent">
    <button
      *ngIf="mobileQuery.matches"
      mat-icon-button
      (click)="sideNav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <h1
      class="ml-2 flex items-center gap-4"
      [ngClass]="{ mobile: mobileQuery.matches }"
    >
      <img src="assets/favicons/android-icon-48x48.png" alt="logo" />
      <span>@ngspot/*</span>
    </h1>

    <span class="flex-auto"></span>

    <button
      mat-icon-button
      type="button"
      [title]="isDarkTheme ? 'Switch to light mode' : 'Switch to dark mode'"
      (click)="toggleTheme()"
    >
      <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>

    <a
      mat-icon-button
      title="Share on Twitter"
      aria-label="Share on Twitter"
      class="twitter"
      target="_blank"
      [href]="twitterLink$ | async"
    >
      <mat-icon svgIcon="logos:twitter"></mat-icon>
    </a>

    <a
      mat-icon-button
      title="GitHub"
      aria-label="Github"
      target="_blank"
      [href]="githubLink$ | async"
    >
      <mat-icon svgIcon="logos:github"></mat-icon>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sideNav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches"
      [fixedInViewport]="mobileQuery.matches"
      [fixedTopGap]="mobileQuery.matches ? 48 : 56"
    >
      <mat-nav-list>
        <ng-container *ngFor="let project of projects; trackBy: trackByName">
          <a
            mat-list-item
            routerLinkActive="active"
            [routerLink]="[project.name]"
            (isActiveChange)="activeProject$$.next(project)"
          >
            {{ project.name }}
          </a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
