// generated via http://mcg.mbitson.com/#!?primary=%237db440&accent=%236442b4&warn=%23cc3600&themename=ngspot

:root {
  --primary-50: #eff6e8;
  --primary-100: #d8e9c6;
  --primary-200: #bedaa0;
  --primary-300: #a4cb79;
  --primary-400: #91bf5d;
  --primary-500: #86c145;
  --primary-600: #75ad3a;
  --primary-700: #6aa432;
  --primary-800: #609c2a;
  --primary-900: #4d8c1c;
  --primary-A100: #ddffc6;
  --primary-A200: #bfff93;
  --primary-A400: #a0ff60;
  --primary-A700: #91ff47;

  --primary-contrast-50: #000000;
  --primary-contrast-10: #000000;
  --primary-contrast-200: #000000;
  --primary-contrast-300: #000000;
  --primary-contrast-400: #000000;
  --primary-contrast-500: #000000;
  --primary-contrast-600: #000000;
  --primary-contrast-700: #000000;
  --primary-contrast-800: #ffffff;
  --primary-contrast-900: #ffffff;
  --primary-contrast-A100: #000000;
  --primary-contrast-A200: #000000;
  --primary-contrast-A400: #000000;
  --primary-contrast-A700: #000000;

  --accent-50: #ece8f6;
  --accent-100: #d1c6e9;
  --accent-200: #b2a1da;
  --accent-300: #937bcb;
  --accent-400: #7b5ebf;
  --accent-500: #6442b4;
  --accent-600: #5c3cad;
  --accent-700: #5233a4;
  --accent-800: #482b9c;
  --accent-900: #361d8c;
  --accent-A100: #d2c7ff;
  --accent-A200: #a994ff;
  --accent-A400: #8161ff;
  --accent-A700: #6c47ff;

  --accent-contrast-50: #000000;
  --accent-contrast-100: #000000;
  --accent-contrast-200: #000000;
  --accent-contrast-300: #000000;
  --accent-contrast-400: #ffffff;
  --accent-contrast-500: #ffffff;
  --accent-contrast-600: #ffffff;
  --accent-contrast-700: #ffffff;
  --accent-contrast-800: #ffffff;
  --accent-contrast-900: #ffffff;
  --accent-contrast-A100: #000000;
  --accent-contrast-A200: #000000;
  --accent-contrast-A400: #ffffff;
  --accent-contrast-A700: #ffffff;

  --warn-50: #f9e7e0;
  --warn-100: #f0c3b3;
  --warn-200: #e69b80;
  --warn-300: #db724d;
  --warn-400: #d45426;
  --warn-500: #cc3600;
  --warn-600: #c73000;
  --warn-700: #c02900;
  --warn-800: #b92200;
  --warn-900: #ad1600;
  --warn-A100: #ffdad7;
  --warn-A200: #ffaaa4;
  --warn-A400: #ff7b71;
  --warn-A700: #ff6358;

  --warn-contrast-50: #000000;
  --warn-contrast-100: #000000;
  --warn-contrast-200: #000000;
  --warn-contrast-300: #000000;
  --warn-contrast-400: #ffffff;
  --warn-contrast-500: #ffffff;
  --warn-contrast-600: #ffffff;
  --warn-contrast-700: #ffffff;
  --warn-contrast-800: #ffffff;
  --warn-contrast-900: #ffffff;
  --warn-contrast-A100: #000000;
  --warn-contrast-A200: #000000;
  --warn-contrast-A400: #000000;
  --warn-contrast-A700: #000000;
}
